{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <div id="upload_instructions_container">

    </div>
    <div id="upload_form_container">
        <form enctype="multipart/form-data" method="POST" action="{{ url_for('img_processing') }}">
            <label for="pet_name">Pet Name</label>
            <br>
                <input type="text" name="pet_name"
                placeholder="Pet's name, ex: Zeus, Luna, etc."
                value="{{ request.form['pet_name'] }}">
            <br>
            <label for="pet_type">Pet's Type</label>
            <br>
            <select name="pet_type">
                {% for type in data["Pet types"] %}
                    <option value="{{ type }}">{{ type }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="image_file">Upload Image</label>
            <br>
            <input type="file" name="image_file">
            <br>
            <input type="submit">
        </form>
    </div>
{% endblock %}