{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <div id="upload_instructions_container">

    </div>
    <div id="upload_form_container">
        <form enctype="multipart/form-data" method="POST">
            <label for="petname">Pet Name</label>
            <br>
                <input type="text" name="petname"
                placeholder="Pet's name, ex: Zeus, Luna, etc."
                value="{{ request.form['petname'] }}">
            <br>
            <label for="pettype">Pet Type</label>
            <br>
            <select name="pettype">
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <option value="ferret">Ferret</option>
                <option value="snake">Snake</option>
            </select>
            <br>
            <label for="imagefile">Upload Image</label>
            <br>
            <input type="file" name="imagefile">
            <br>
            <input type="submit">
        </form>
    </div>
{% endblock %}